@model IEnumerable<MyWebApp.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @class = "btn btn-info" })
</p>

@foreach (var item in Model)
{
     <div class="panel panel-default">
         <div class="panel-heading"><b>@Html.DisplayFor(modelItem => item.UserName)</b> - @Html.DisplayNameFor(model => model.UserId): @Html.DisplayFor(modelItem => item.UserId) </div>
         <div class="panel-body">
             <b>@Html.DisplayNameFor(model => model.Message):</b> @Html.DisplayFor(modelItem => item.Message)<br/>
             @Html.DisplayFor(modelItem => item.TimeOfPosting)
         </div>
         <div class="panel-body">
             @Html.DisplayNameFor(model => model.PostType): @Html.DisplayFor(modelItem => item.PostType) |
             @Html.DisplayNameFor(model => model.IsSticky): @Html.DisplayFor(modelItem => item.IsSticky) |
             @Html.DisplayNameFor(model => model.Priority): @Html.DisplayFor(modelItem => item.Priority) |
             Category: @Html.DisplayFor(modelItem => item.Category.Name)<br/><br/>
             @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
             @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) |
             @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
         </div>
    </div>
}


